footer {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  height: 20vh;
  margin-top: auto;
}

.footerLogo {
  height: 100%;
  width: 100%;
}

.footerLogo img {
  object-fit: cover; 
  height: 100%;
}

.footerItemL {
  position: absolute;
  left: 1rem;
  width: 20vh;
  height: 20vh;
}

.footerItemM {
  display: flex;
  align-items: center;
  width: 29vh;
  height: 20vh;
}

.footerItemM form input{
  background-color: var(--primary-color);
  border-radius: 10px;
  border-color: var(--accent-color);
  height: 3vh;
  font-size: 1rem;
}

#searchfield{
  width: 20vh;
}

.searchButton{
  font-weight: bold;
  height: 4vh;
  width: 8vh;
}

.footerItemR {
  position: absolute;
  right: 1rem;
  width: 20vh;
  height: 20vh;
}

.footerItemR iframe {
  border: 0.2rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .footerItemL {
    visibility: hidden;
  }
  
  .footerItemM {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
  }

  .footerItemM form {
    width: 100%;
    margin-left: 3vh;
    margin-right: 3vh;
  }

  #searchfield {
    width: 100%;
  }

  .footerItemM input.searchButton {
    visibility: hidden;
  }
  
  .footerItemR {
    visibility: hidden;
  }
}