footer {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  height: 20rem;
  margin-top: auto;
}

.footerLogo {
  height: 20rem;
}

.footerItemL {
  position: absolute;
  left: 1rem;
}

.footerItemM {
  display: flex;
  align-items: center;
}

.footerItemM li {
  display: inline;
}

.footerItemR {
  position: absolute;
  right: 1rem;
}

.footerItemR iframe {
  float: right;
  width: 20rem;
  height: 20rem;
  border: 0.2rem;
}