.form_container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: inline-block;
    padding: 20px;
    margin: 0 auto; 
    background-color: #ccd5ae;
}

label {
    width: 300px;
    float: left;

}

input {
    width: 400px;
    background-color: lightgray;
}

select   {
    width: 400px;
    background-color: lightgray;
}

textarea   {
    width: 400px;
    height: 80px;
    background-color: lightgray;
}

.radiobutton {
    width: auto;
    float: left;
}   

.radiodiv_title {
    margin-top: 0px;
    width: 300px;
    float: left;
}

.radiodiv {
    overflow: hidden;
}