form {
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--primary-color);

}

label {
    width: 300px;
    float: left;

}

input {
    width: 400px;
    background-color: var(--primary-color);
}

select {
    width: 400px;
    background-color: var(--primary-color);
}

textarea {
    width: 400px;
    height: 80px;
    background-color: var(--primary-color);
}

.radiobutton {
    width: auto;
    float: left;
}

.radiodiv_title {
    margin-top: 0px;
    width: 300px;
    float: left;
}

.radiodiv {
    overflow: hidden;
}