.product {
  background-color: var(--primary-color);
  border-style: solid;
  border-width: 0rem;
  border-radius: 25px;
  display: flex;
  margin: 1rem;
}

.productImage {
  width: 30vh;
  height: 30vh;
  border-radius: 25px;
}

.productDesc {
  margin: 0.5rem;
  text-align: center;
  overflow: auto;
  width: 30vh;
  height: 30vh;
}

@media screen and (max-width: 500px) {
	.product {
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 0rem;
    border-radius: 25px;
    display: flex;
    margin: 1rem;
    flex-direction: column;
  }

  
}