body {
  background-color: #999966;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;  
  }

p {
  color: #d4a373;
  font-weight: bold;
}

h1{
  color: #d4a373;
}

.content {
  margin-top: 6rem;
}