body {
    background-color: #999966;
    color: #FFFFFF;
  }

p {
    color: #FFFFFF;
}

.navigation_frame {
    display: flex;
}

.navigation_frame img{
    height: 100px;
}


.navigation_item {
    border-style: solid;
    margin: auto;
    width: 100px;
    padding: 10px;
}

.navigation_item:hover {
    border-style: solid;
    background-color: blue;
}

.navigation_item p {
    text-align: center;
}